<li>
    {{burger_name}}
    {{#unless devoured}}
    <button class="change-devoured btn btn-outline-danger" data-id="{{id}}">        
            Devour it!      
    </button>
    <br><br>
    {{/unless}}
</li>