<li>
    {{burger_name}}
    {{#if devoured}}
    <button class="change-devoured btn btn-outline-dark" data-id="{{id}}" data-newdevr="{{devoured}}">        
            Devour it!      
    </button>
    <br><br>
    {{/if}}
</li>