{{!-- Setup the main.handlebars file so it's able to be used by Handlebars.

Setup the index.handlebars to have the template that Handlebars can render onto.

Create a button in index.handlebars that will submit the user input into the databa --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Burgers - I Must Try!</title>
</head>
<body style="background-color: #fad16d; text-align:center;">
    <img src="../Assets/burgerbanner.png" alt="fast food illustration banner" height="200rem">
    {{{ body }}} 
</body>
</html>